* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 1s;
}
html{
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 50%);
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
hr{
  width: 100%;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
}
h2,
h4 {
  text-align: center;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
p {
  font-weight: 550;
}
.strong{
  color: black;
  font-size: larger;
  font-style: oblique;
}
button {
  padding: 10px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 550;
}
img{
  display: block;
  max-width: 100%;
}
button:hover {
  transform: scale(0.96);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(0, 0%, 50%);
  border-radius: 20px;
  padding: 20px;
  gap: 25px;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 100%);
  opacity: 0.8;
  animation: slideInFromTop 1s ease-in;
}
header #logo-div {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  animation: slideInFromLeft 1s ease-in;
}
header h1 {
  font-style: italic;
}
header .toggle-btn {
  position: absolute;
  top: 4.8rem;
  right: 5.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
header .toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
header nav ul {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: 550;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  animation: slideInFromRight 1s ease-in;
}
header nav ul li a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
header nav ul li a:hover {
  color: hsl(0, 0%, 70%);
  border-bottom: 2px solid hsl(0, 0%, 70%);
  transform: scale(0.98);
}
header nav ul li a:active {
  color: hsl(0, 0%, 0%);
}
main {
  flex: 1;
  border-right: 4px solid hsl(0, 0%, 50%);
  border-radius: 20px;
  padding: 10px;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: start;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.grid-item {
  padding: 5px;
  text-align: center;
}
.profile-pic-div {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 15px;
  animation: slideInFromLeft 1s ease-in;
}
.profile-pic-div img {
  max-width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.profile-pic-div img:hover{
  transform: scale(0.97);
}
.about-div {
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  animation: slideInFromRight 1s ease-in;
}
.projects-div {
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
}
.skills-container {
  grid-column: 1/3;
  text-align: center;
  animation: slideInFromLeft 1s ease-in;
}
#skills-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  text-align: center;
}
.skills-div-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid hsl(0, 0%, 50%);
  border-left: 3px solid hsl(0, 0%, 50%);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 5px;
}
.skills-div-item:hover {
  transform: scale(0.97);
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
.projects-grid-item {
  overflow: hidden;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}
.projects-grid-item img {
  max-width: 100%;
  border-radius: 20px;
}
.projects-grid-item img:hover {
  transform: scale(0.97);
}
.projects-btns-div {
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.projects-btn {
  width: 30%;
  text-align: center;
}
.code-review-btn {
  background-color: hsl(0, 0%, 20%);
  color: hsl(161, 76%, 90%);
}
.code-review-btn a {
  color: hsl(161, 76%, 90%);
}
.code-review-btn:hover {
  background-color: hsl(0, 0%, 10%);
  color: hsl(161, 76%, 100%);
}
.code-review-btn a:hover {
  background-color: hsl(0, 0%, 10%);
  color: hsl(161, 76%, 100%);
}
.see-it-live-btn {
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 10%);
}
.see-it-live-btn a {
  color: hsl(0, 0%, 10%);
}
.see-it-live-btn:hover {
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 0%);
}
.see-it-live-btn a:hover {
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 0%);
}
.contact-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  animation: slideInFromRight 1s ease-in;
}
.contact-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
  border-radius: 10px;
}
.contact-icon:hover{
  transform: scale(.96);
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid hsl(0, 0%, 50%);
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 550;
  min-width: 100%;
  text-align: center;
  animation: slideInFromBottom 1s ease-in;
}
.slide-from-left{
  animation: slideInFromLeft 1s ease-in;
}
.slide-from-right{
  animation: slideInFromRight 1s ease-in;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100%{
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  header .toggle-btn {
    display: flex;
  }
  header .navbar-links {
    display: none;
    width: 100%;
  }
  header #logo-div{
    text-align: start;
    flex-wrap: wrap;
  }
  #logo-div .my-name{
    display: block;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    font-size: 1rem;
  }
  .navbar {
    min-width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  header .toggle-btn {
    top: 0.8rem;
    right: 1.5rem;
  }
  header .navbar .navbar-links .active {
    display: flex;
  }
  body{
    padding: 5px;
  }
  main {
    grid-template-columns: 1fr;
    margin-top: 150px;
  }
  .grid-item{
    max-width: 100%;
    padding: 5px;
  }
  .profile-pic-div{
    grid-column: 1/2;
    flex-direction: column;
  }
  .about-div {
  grid-column: 1/2;
  grid-row: 2/3;
  min-width: 100%;
}
.projects-div {
  grid-column: 1/2;
  grid-row: 3/4;
  min-width: 100%;
  padding: 0px;
}
.projects-grid {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 0px;
}
.projects-grid-item{
  min-width: 100%;
}
}
